 

<div class="container-fluid ms-sidebar">
            <button class="btn d-lg-none me-4">
              <i class="fa-solid fa-bars"></i>
            </button>
            
            <div class="position-relative">
              <i class="fa-solid fa-search position-absolute start-3 top-50 translate-middle-y text-muted small"></i>
              <input type="text" placeholder="Pesquisar..." class="form-control ps-4" style="width: 250px;">
            </div>
            
            <div class="d-flex align-items-center">
              <span class="text-muted me-4" id="current-date"></span>
              
              <div class="d-flex me-4">
                <button class="btn rounded-circle hover-bg-light p-2 mx-1"><i class="fa-solid fa-bell text-muted"></i></button>
                <button class="btn rounded-circle hover-bg-light p-2 mx-1"><i class="fa-solid fa-circle-question text-muted"></i></button>
                <button class="btn rounded-circle hover-bg-light p-2 mx-1"><i class="fa-solid fa-gear text-muted"></i></button>
                <button class="btn rounded-circle hover-bg-light p-2 mx-1"><i class="fa-solid fa-moon text-muted"></i></button>
              </div>

              <div class="d-flex align-items-center">
                <img src="img-perfil" alt="Perfil" class="rounded-circle" width="32" height="32">
                <div class="ms-2 d-none d-md-block">
                  <p class="small fw-medium text-dark mb-0">ALDAIR MATIAS</p>
                  <p class="small text-muted mb-0">Administrador</p>
                </div>
                <i class="fa-solid fa-chevron-down small text-muted ms-1"></i>
              </div>
            </div>
</div>
